.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10px 20px;
    position: relative;


}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
  width: 150px;
  cursor: pointer;
}
nav  button{
    border: 0;
    outline: 0;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
.lang-btn{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    gap: 2px;
    background: transparent;
    border: 1px solid #fff;
  
 
}
.global{
    margin: 0;
    padding: 0;
}
.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    margin-top: 100px;
    text-align: center;
}
.header-content h1{
    font-size: 60px ;
    font-weight: 600;
    max-width: 750px ;

}
.header-content h3{
    font-weight: 400;
    margin-bottom:10px ;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup{
    flex: 1; 
    /* This item can grow and shrink as needed */
    border: 0;
    outline: 0;
    margin-left: 20px;


}
.email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;

}