*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html{
 
    font-size: 62.5%;
  
}
body{
  background : #010101;
  color: white;
}
html::-webkit-scrollbar{
  width: 8px;

}
html::-webkit-scrollbar-track{
  background:transparent;
}
html::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 5rem;
}